// ------------------------------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------------------------------
$red: #9e0000;
$grey: #e5e5e5;

// ------------------------------------------------------------------------------------------
// easings
// ------------------------------------------------------------------------------------------
$easing: cubic-bezier(0.33, 0, 0.2, 1);

// ------------------------------------------------------------------------------------------
// breakpoints
// ------------------------------------------------------------------------------------------
$medium: 768px !default;
